@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Readex+Pro:wght@600&display=swap');

header {
    font-family: 'Readex Pro', sans-serif;
    color: rgb(255, 255, 255);
}

.header-1 {
    text-align: left;
    top: 0;
    font-size: 20px;
    text-decoration: none;
    color: rgb(0,0,0);
    text-decoration: none;
    background: fixed;
    background-color: rgb(255, 255, 255);
    border: 0;
    font-family: 'Readex Pro', sans-serif;
}

body {
    background-color:rgb(255, 255, 255);
    color: rgb(0,0,0);
    font-family: 'Readex Pro', sans-serif;

}

.profile-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px;
  }
.profile-img {
    max-width: 60%;
    align-content: center;

}

.profile-text {
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    color: rgb(0,0,0);
}

h1 {
    padding: 10px;
}

h2{
    padding: auto;
}